doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 
      | 云引力 |
      = user.name

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/nav.css', rel='stylesheet')
    link(href='/stylesheets/applist.css', rel='stylesheet')
  body
    div.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.navbar-header
        a.navbar-brand(href='/') 云引力
      ul.nav.navbar-nav
        li
          a(href='/docs') 文档
      ul.nav.navbar-nav.navbar-right
        li.dropdown.user-dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            = user.name
            b.caret
          ul.dropdown-menu
            li
              a(href='/profile') 账户管理
            li.divider
            li
              a(href='/signout') 登出

    div.container
      a.btn.btn-lg.btn-success.pull-right(href='/createapp') 创建应用

    div.container.applist
      h2.applist-header 应用：
      div.list-group
        each app, i in apps
          if i % 4 == 0
            a.list-group-item.list-group-item-success(href='/app/'+app.name) 
              = app.name
          if i % 4 == 1
            a.list-group-item.list-group-item-info(href='/app/'+app.name) 
              = app.name
          if i % 4 == 2
            a.list-group-item.list-group-item-warning(href='/app/'+app.name) 
              = app.name
          if i % 4 == 3
            a.list-group-item.list-group-item-danger(href='/app/'+app.name) 
              = app.name

    div.container.pricing-summary
      h2 用户API使用量：1000

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')